html,
body,
div,
span,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

.clearFloat {
  clear: both;
}

body {
  width: 100%;
  background-color: #131744;
}

.hotTag {
  width: 148px;
  height: 56px;
  position: absolute;
  z-index: 1;
  top: -26px;
  left: -13px;
  background: url(../images/brush_hot.png) no-repeat;
  background-size: contain;
}

.newTag {
  width: 148px;
  height: 56px;
  position: absolute;
  z-index: 1;
  top: -26px;
  left: -13px;
  background: url(../images/brush_new.png) no-repeat;
  background-size: contain;
}

.featuresTitleWrap {
  margin-left: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featuresTitleWrap img {
  width: 56px;
  height: 16px;
  margin-right: 15px;
}

.featuresTitleWrap .featuresTitle {
  font-size: 35px;
  font-weight: 500;
  color: #69d2cb;
}

.featuresTitleWrap .featuresText {
  font-size: 25px;
  font-weight: 500;
}

.commonAPP {
  width: 210px;
  height: 85px;
  border-radius: 5px;
  background-color: #2f3684;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;
}

.commonAPP img {
  width: 55px;
  height: 55px;
  margin: 0 21px 0 30px;
}

.commonAPP p {
  font-size: 19px;
  font-weight: 600;
}

.gapWrap {
  width: 100%;
  height: 20px;
  background-color: #131744;
}

.copyWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  position: relative;
  margin-bottom: 57px;
}

.copyWrap img {
  width: 80px;
  height: 80px;
  margin: 0 37px 0 64px;
}

.copyWrap .copyTitle {
  font-size: 31px;
  font-weight: 600;
  margin-bottom: 10px;
}

.copyWrap .copyText {
  font-size: 26px;
}

.copyWrap .copyBtn {
  width: 166px;
  height: 64px;
  border-radius: 14px;
  border-style: solid;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
  border-image-slice: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#02041b), to(#02041b)), -webkit-gradient(linear, right top, left top, color-stop(99%, #3cd8eb), color-stop(0%, #7081f7));
  background-image: linear-gradient(to bottom, #02041b, #02041b), linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  text-align: center;
  position: absolute;
  right: 62px;
  cursor: pointer;
}

.container,
.foreverContainer,
.teamworkContainer {
  width: 750px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
}

.titleWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 219px;
  height: 62px;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #2e3bc4), to(#1f256b));
  background-image: linear-gradient(to bottom, #2e3bc4 1%, #1f256b);
  margin: 0 auto;
}

.titleWrap img {
  width: 38px;
  height: 38px;
  margin-right: 10px;
}

.titleWrap p {
  font-size: 35px;
  font-weight: 500;
}

.smallTitle {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: PingFangTC;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #7081f7;
  margin-top: 15px;
}

.colorWrapBack {
  background: url(../images/gradual_bg.png) no-repeat;
  background-position: 0 30px;
}

.fixTop {
  position: fixed;
  top: 0;
  z-index: 2;
}

.fixTopMargin {
  margin-top: 220px;
}

.headerWrap .topHeaderWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
  height: 89px;
  background-color: #070a2d;
}

.headerWrap .topHeaderWrap .topLogo {
  width: 283px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 20px;
}

.headerWrap .topHeaderWrap .topRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.headerWrap .topHeaderWrap .topRight a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerWrap .topHeaderWrap .topRight .editImg {
  width: 24px;
}

.headerWrap .topHeaderWrap .topRight p {
  font-size: 24px;
  font-weight: 600;
  color: #7081f7;
  margin-left: 10px;
  margin-right: 25px;
}

.headerWrap .navWrap {
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  border-bottom: 1px solid #7081f7;
  background-color: #131744;
  margin: 0 20px;
}

.headerWrap .navWrap .leftNav,
.headerWrap .navWrap .rightNav {
  position: relative;
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerWrap .navWrap p {
  font-size: 30px;
  font-weight: 600;
}

.headerWrap .navWrap .navBottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 355px;
  height: 9px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4.5px;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(100%, #3cd8eb), color-stop(0%, #7081f7));
  background-image: linear-gradient(to left, #3cd8eb 100%, #7081f7 0%);
}

.bubbleWrap {
  margin: 25px 20px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.bubbleWrap .bubbleTag {
  border-radius: 27.5px;
  border: solid 2px #c6cdff;
  padding: 10px 50px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.bestColorWrap {
  position: relative;
  margin-top: 170px;
}

.bestColorWrap .girlImg {
  position: absolute;
  top: -170px;
  z-index: -1;
}

.bestColorWrap .topWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 45px;
  margin-top: 47px;
}

.bestColorWrap .topWrap p {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.bestColorWrap .bigAPPWrap {
  margin-right: 68px;
}

.bestColorWrap .bigAPPImg {
  background-image: url(../images/logo-nine.png);
  position: relative;
  width: 175px;
  height: 175px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.bestColorWrap .bigAPPImg .outLine {
  background-image: url(../images/rainbow_frame.png);
  position: absolute;
  width: 175px;
  height: 175px;
  background-size: cover;
}

.bestColorWrap .APPWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  margin-left: 46px;
}

.bestColorWrap .smallAPP {
  width: 122px;
  margin-right: 57px;
  margin-bottom: 20px;
  text-align: center;
}

.bestColorWrap .smallAPP img {
  width: 122px;
  height: 122px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 15px;
}

.bestColorWrap .smallAPP p {
  margin-top: 12px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #b3bcff;
}

.bestColorWrap .smallAPP:nth-child(4n) {
  margin-right: 0;
}

.bestColorWrap .bottomBK {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 280px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#313ca9), color-stop(50%, #131744));
  background-image: linear-gradient(to top, #313ca9, #131744 50%);
  z-index: -1;
}

.hotColorWrap {
  margin-top: 40px;
  position: relative;
}

.hotColorWrap .paintBK {
  position: absolute;
  background: url(../images/paint-color2.png) no-repeat;
  background-position: 114px -25px;
  background-size: contain;
  height: 369px;
  width: 230px;
  right: 0;
}

.hotColorWrap .APPWrap {
  position: relative;
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hotColorWrap .smallTitle {
  margin-bottom: 26px;
}

.hotColorWrap .bigAPP {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 680px;
  height: 180px;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d2277), to(#090c51));
  background-image: linear-gradient(to bottom, #0d2277, #090c51);
  margin-bottom: 47px;
}

.hotColorWrap .bigAPP .bigAPPImg {
  width: 100px;
  height: 100px;
  margin: 0 35px 0 45px;
}

.hotColorWrap .bigAPP .APPTitle {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 12px;
}

.hotColorWrap .bigAPP .APPText {
  font-size: 25px;
  color: #979797;
}

.hotColorWrap .bigAPP .downButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 40px;
  width: 124px;
  height: 54px;
  border-radius: 12px;
  border-style: solid;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
  border-image-slice: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)), -webkit-gradient(linear, right top, left top, color-stop(99%, #3cd8eb), color-stop(0%, #7081f7));
  background-image: linear-gradient(to bottom, #000000, #000000), linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.hotColorWrap .bigAPP .downButton img {
  width: 18px;
  height: 22px;
  margin: 0 10px 0 25px;
}

.hotColorWrap .bigAPP .downButton p {
  font-size: 25px;
}

.hotColorWrap .smallAPP {
  position: relative;
  margin-bottom: 47px;
  margin-right: 40px;
  width: 200px;
  height: 225px;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#090a4d), to(#0e267e));
  background-image: linear-gradient(to top, #090a4d, #0e267e);
  text-align: center;
}

.hotColorWrap .smallAPP img {
  width: 100px;
  height: 100px;
  margin: 36px 0 27px;
}

.hotColorWrap .smallAPP p {
  font-size: 30px;
  font-weight: 500;
  color: #b3bcff;
}

.hotColorWrap .smallAPP:nth-child(n+2) {
  margin-right: 35px;
}

.suggestWrap .featuresWrap {
  background: #070a2d url(../images/paint_color.png) no-repeat;
  background-position: 100% 0;
}

.featuresWrap {
  padding-top: 40px;
  background-color: #070a2d;
}

.featuresWrap .featuresAPPWrap {
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.featuresWrap .bigAPP {
  width: 204px;
  height: 280px;
  margin-right: 27px;
  margin-bottom: 35px;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 4px;
  border-image-source: linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
  border-image-slice: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#02041b), to(#02041b)), -webkit-gradient(linear, right top, left top, color-stop(99%, #3cd8eb), color-stop(0%, #7081f7));
  background-image: linear-gradient(to bottom, #02041b, #02041b), linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-align: center;
}

.featuresWrap .bigAPP img {
  width: 100px;
  height: 100px;
  margin: 30px 0 20px;
}

.featuresWrap .bigAPP .APPtitle {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.featuresWrap .bigAPP .APPText {
  font-size: 20px;
  font-weight: 500;
  color: #7081f7;
  padding: 0 23px;
  line-height: 1.5;
}

.featuresWrap .bigAPP:nth-child(3n) {
  margin-right: 0;
}

.goodWrap,
.TVWrap,
.shockWrap,
.novelWrap {
  padding-top: 40px;
  background-color: #070a2d;
}

.goodWrap .commonAPPWrap,
.TVWrap .commonAPPWrap,
.shockWrap .commonAPPWrap,
.novelWrap .commonAPPWrap {
  margin-left: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footerWrap {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  background: url(../images/footer_bg.png) repeat-x bottom;
}

.footerWrap .footer {
  width: 750px;
  padding: 0 33px 196px;
  margin: 0 auto;
  text-align: center;
}

.footerWrap .footer .goTop {
  margin: 20px 0;
  width: 276px;
  height: 63px;
}

.footerWrap p {
  text-align: left;
}

.footerWrap .fixImg {
  width: 680px;
  height: 150px;
  position: fixed;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.welfareWrap {
  margin-top: 34px;
}

.welfareWrap .bigAPP {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 680px;
  height: 180px;
  border-radius: 15px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0d2277), to(#090c51));
  background-image: linear-gradient(to bottom, #0d2277, #090c51);
  margin: 0 auto;
}

.welfareWrap .bigAPP .bigAPPImg {
  width: 100px;
  height: 100px;
  margin: 0 35px 0 45px;
}

.welfareWrap .bigAPP .APPTitle {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 12px;
}

.welfareWrap .bigAPP .APPText {
  font-size: 25px;
  color: #979797;
}

.welfareWrap .bigAPP .downButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 35px;
  right: 40px;
  width: 124px;
  height: 54px;
  border-radius: 12px;
  border-style: solid;
  border-width: 3px;
  border-image-source: linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
  border-image-slice: 1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#000000)), -webkit-gradient(linear, right top, left top, color-stop(99%, #3cd8eb), color-stop(0%, #7081f7));
  background-image: linear-gradient(to bottom, #000000, #000000), linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.welfareWrap .bigAPP .downButton img {
  width: 18px;
  height: 22px;
  margin: 0 10px 0 25px;
}

.welfareWrap .bigAPP .downButton p {
  font-size: 25px;
}

.welfareWrap .bigAPP .downloadNum {
  font-size: 25px;
  position: absolute;
  right: 40px;
  top: 114px;
}

.welfareWrap .blueLine {
  width: 710px;
  height: 1px;
  background-color: #7081f7;
  margin: 26px auto 30px;
}

.foreverContainer .bestColorWrap {
  margin-top: 190px;
}

.foreverContainer .bestColorWrap .smallTitle {
  padding-bottom: 60px;
}

.foreverContainer .bestColorWrap .addressWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 43px;
}

.foreverContainer .bestColorWrap .addressBtn {
  width: 251px;
  height: 65px;
  border-radius: 32.5px;
  background-color: #6270ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 500;
  margin-right: 28px;
  margin-bottom: 30px;
}

.foreverContainer .promptWrap {
  background-position: 0 0;
  padding: 0 62px;
}

.foreverContainer .promptWrap .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-top: 45px;
}

.foreverContainer .promptWrap ul {
  padding: 0 62px;
}

.foreverContainer .promptWrap p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
}

.foreverFooter {
  width: 100%;
  height: 196px;
  background: url(../images/footer_bg.png) repeat-x center;
  background-size: contain;
}

.teamworkContainer .headerWrap {
  position: relative;
}

.teamworkContainer .topHeaderWrap {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.teamworkContainer .headerRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.teamworkContainer .headerRight img {
  width: 24px;
  height: 24px;
}

.teamworkContainer .headerRight a {
  color: #7081f7;
  font-size: 24px;
  font-weight: 600;
  padding: 0 21px 0 10px;
}

.teamworkContainer .announcementWrap {
  position: relative;
  height: 153px;
}

.teamworkContainer .announcementWrap img {
  width: 656px;
  height: 108px;
  position: absolute;
  left: 47px;
  top: 14px;
}

.teamworkContainer .announcementWrap p {
  position: absolute;
  top: 70px;
  left: 190px;
  font-size: 25px;
  font-weight: 500;
  color: #070a2d;
}

.teamworkContainer .colorWrapBack {
  background-position: 0 0;
}

.teamworkContainer .featuresTitleWrap {
  padding-top: 30px;
}

.teamworkContainer .contactText {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  padding: 0 62px 20px;
}

.teamworkContainer .linkWrap .linkText {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  padding: 0 62px;
}

@media (max-width: 768px) {
  .hotTag {
    width: 19.73333vw;
    height: 7.46667vw;
    top: -3.46667vw;
    left: -1.73333vw;
  }
  .newTag {
    width: 19.73333vw;
    height: 7.46667vw;
    top: -3.46667vw;
    left: -1.73333vw;
  }
  .featuresTitleWrap {
    margin-left: 4vw;
    margin-bottom: 4vw;
  }
  .featuresTitleWrap img {
    width: 7.46667vw;
    height: 2.13333vw;
    margin-right: 2vw;
  }
  .featuresTitleWrap .featuresTitle {
    font-size: 4.66667vw;
  }
  .featuresTitleWrap .featuresText {
    font-size: 3.33333vw;
  }
  .commonAPP {
    width: 28vw;
    height: 11.33333vw;
    border-radius: 0.66667vw;
    margin-right: 3.33333vw;
    margin-bottom: 3.33333vw;
  }
  .commonAPP img {
    width: 7.33333vw;
    height: 7.33333vw;
    margin: 0 4.26667vw 0 4vw;
  }
  .commonAPP p {
    font-size: 2.53333vw;
  }
  .gapWrap {
    height: 2.66667vw;
  }
  .copyWrap {
    height: 10.66667vw;
    margin-bottom: 7.6vw;
  }
  .copyWrap img {
    width: 10.66667vw;
    height: 10.66667vw;
    margin: 0 4.93333vw 0 8.53333vw;
  }
  .copyWrap .copyTitle {
    font-size: 4.13333vw;
    margin-bottom: 1.33333vw;
  }
  .copyWrap .copyText {
    font-size: 3.46667vw;
  }
  .copyWrap .copyBtn {
    width: 22.13333vw;
    height: 8.53333vw;
    border-radius: 1.86667vw;
    border-width: 0.4vw;
    font-size: 4vw;
    line-height: 9.33333vw;
    right: 8.26667vw;
  }
  .container,
  .foreverContainer,
  .teamworkContainer {
    width: 100vw;
  }
  .titleWrap {
    width: 29.2vw;
    height: 8.26667vw;
    border-radius: 1.33333vw;
    -webkit-box-shadow: 0 0.26667vw 0.53333vw 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 0.26667vw 0.53333vw 0 rgba(0, 0, 0, 0.5);
    border: solid 0.26667vw #ffffff;
  }
  .titleWrap img {
    width: 5.06667vw;
    height: 5.06667vw;
    margin-right: 1.33333vw;
  }
  .titleWrap p {
    font-size: 4.66667vw;
  }
  .smallTitle {
    text-shadow: 0 0.26667vw 0.53333vw rgba(0, 0, 0, 0.5);
    font-size: 3.33333vw;
    margin-top: 2vw;
  }
  .colorWrapBack {
    background-position: 0 4vw;
  }
  .fixTopMargin {
    margin-top: 29.33333vw;
  }
  .headerWrap .topHeaderWrap {
    width: 100vw;
    height: 11.86667vw;
  }
  .headerWrap .topHeaderWrap .topLogo {
    width: 37.73333vw;
    margin-left: 2.66667vw;
  }
  .headerWrap .topHeaderWrap .topRight .editImg {
    width: 3.2vw;
  }
  .headerWrap .topHeaderWrap .topRight p {
    font-size: 3.2vw;
    margin-left: 1.33333vw;
    margin-right: 3.33333vw;
  }
  .headerWrap .navWrap {
    height: 12.66667vw;
    border-bottom: 0.13333vw solid #7081f7;
    margin: 0 2.66667vw;
  }
  .headerWrap .navWrap p {
    font-size: 4vw;
  }
  .headerWrap .navWrap .navBottom {
    width: 44.66667vw;
    height: 1.2vw;
    border-radius: 0.6vw;
  }
  .bubbleWrap {
    margin: 3.33333vw 2.66667vw 0 2.66667vw;
  }
  .bubbleWrap .bubbleTag {
    border-radius: 3.66667vw;
    border: solid 0.26667vw #c6cdff;
    padding: 1.33333vw 6.66667vw;
    margin-right: 2vw;
    margin-bottom: 2.66667vw;
  }
  .bestColorWrap {
    margin-top: 22.66667vw;
  }
  .bestColorWrap .girlImg {
    top: -22.66667vw;
  }
  .bestColorWrap .topWrap {
    margin-left: 6vw;
    margin-top: 6.26667vw;
  }
  .bestColorWrap .topWrap p {
    font-size: 3.33333vw;
    margin-top: 1.33333vw;
  }
  .bestColorWrap .bigAPPWrap {
    margin-right: 9.06667vw;
  }
  .bestColorWrap .bigAPPImg {
    width: 23.33333vw;
    height: 23.33333vw;
  }
  .bestColorWrap .bigAPPImg .outLine {
    width: 23.33333vw;
    height: 23.33333vw;
  }
  .bestColorWrap .APPWrap {
    margin-top: 5.33333vw;
    margin-left: 6.13333vw;
  }
  .bestColorWrap .smallAPP {
    width: 16.26667vw;
    margin-right: 7.6vw;
    margin-bottom: 2.66667vw;
  }
  .bestColorWrap .smallAPP img {
    width: 16.26667vw;
    height: 16.26667vw;
    border-radius: 2vw;
  }
  .bestColorWrap .smallAPP p {
    margin-top: 1.6vw;
    font-size: 2.66667vw;
  }
  .bestColorWrap .bottomBK {
    height: 37.33333vw;
  }
  .hotColorWrap {
    margin-top: 5.33333vw;
  }
  .hotColorWrap .paintBK {
    background-position: 15.2vw -3.33333vw;
    height: 62.53333vw;
    width: 30.66667vw;
  }
  .hotColorWrap .APPWrap {
    margin-left: 4.66667vw;
  }
  .hotColorWrap .smallTitle {
    margin-bottom: 3.46667vw;
  }
  .hotColorWrap .bigAPP {
    width: 90.66667vw;
    height: 24vw;
    border-radius: 2vw;
    -webkit-box-shadow: 0 0.26667vw 0.66667vw 0 rgba(255, 255, 255, 0.1);
            box-shadow: 0 0.26667vw 0.66667vw 0 rgba(255, 255, 255, 0.1);
    margin-bottom: 6.26667vw;
  }
  .hotColorWrap .bigAPP .bigAPPImg {
    width: 13.33333vw;
    height: 13.33333vw;
    margin: 0 4.66667vw 0 6vw;
  }
  .hotColorWrap .bigAPP .APPTitle {
    font-size: 4.66667vw;
    margin-bottom: 1.6vw;
  }
  .hotColorWrap .bigAPP .APPText {
    font-size: 3.33333vw;
  }
  .hotColorWrap .bigAPP .downButton {
    right: 5.33333vw;
    width: 16.66667vw;
    height: 7.2vw;
    border-radius: 1.6vw;
    border-width: 0.4vw;
  }
  .hotColorWrap .bigAPP .downButton img {
    width: 2.4vw;
    height: 2.93333vw;
    margin: 0 1.33333vw 0 3.33333vw;
  }
  .hotColorWrap .bigAPP .downButton p {
    font-size: 3.33333vw;
  }
  .hotColorWrap .smallAPP {
    margin-bottom: 6.26667vw;
    margin-right: 5.33333vw;
    width: 26.66667vw;
    height: 29.86667vw;
    border-radius: 2vw;
    -webkit-box-shadow: 0 0.26667vw 0.66667vw 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.26667vw 0.66667vw 0 rgba(0, 0, 0, 0.1);
  }
  .hotColorWrap .smallAPP img {
    width: 13.33333vw;
    height: 13.33333vw;
    margin: 4.8vw 0 3.6vw;
  }
  .hotColorWrap .smallAPP p {
    font-size: 4vw;
  }
  .hotColorWrap .smallAPP:nth-child(n+2) {
    margin-right: 4.66667vw;
  }
  .featuresWrap {
    padding-top: 5.33333vw;
  }
  .featuresWrap .featuresAPPWrap {
    margin-left: 4vw;
  }
  .featuresWrap .bigAPP {
    width: 27.2vw;
    height: 37.33333vw;
    margin-right: 3.6vw;
    margin-bottom: 4.66667vw;
    border-radius: 2vw;
    -webkit-box-shadow: 0 0.26667vw 0.66667vw 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.26667vw 0.66667vw 0 rgba(0, 0, 0, 0.1);
    border-width: 0.53333vw;
  }
  .featuresWrap .bigAPP img {
    width: 13.33333vw;
    height: 13.33333vw;
    margin: 4vw 0 2.66667vw;
  }
  .featuresWrap .bigAPP .APPtitle {
    font-size: 4vw;
    margin-bottom: 2.66667vw;
  }
  .featuresWrap .bigAPP .APPText {
    font-size: 2.66667vw;
    padding: 0 3.06667vw;
  }
  .goodWrap,
  .TVWrap,
  .shockWrap,
  .novelWrap {
    padding-top: 5.33333vw;
  }
  .goodWrap .commonAPPWrap,
  .TVWrap .commonAPPWrap,
  .shockWrap .commonAPPWrap,
  .novelWrap .commonAPPWrap {
    margin-left: 4.66667vw;
  }
  .footerWrap {
    font-size: 2.66667vw;
  }
  .footerWrap .footer {
    width: 100vw;
    padding: 0 4.4vw 26.13333vw;
  }
  .footerWrap .footer .goTop {
    margin: 2.66667vw 0;
    width: 36.8vw;
    height: 8.4vw;
  }
  .footerWrap .fixImg {
    width: 90.66667vw;
    height: 20vw;
    bottom: 4vw;
  }
  .welfareWrap {
    margin-top: 4.53333vw;
  }
  .welfareWrap .bigAPP {
    width: 90.66667vw;
    height: 24vw;
    border-radius: 2vw;
    -webkit-box-shadow: 0 0.26667vw 0.66667vw 0 rgba(255, 255, 255, 0.1);
            box-shadow: 0 0.26667vw 0.66667vw 0 rgba(255, 255, 255, 0.1);
  }
  .welfareWrap .bigAPP .bigAPPImg {
    width: 13.33333vw;
    height: 13.33333vw;
    margin: 0 4.66667vw 0 6vw;
  }
  .welfareWrap .bigAPP .APPTitle {
    font-size: 4.66667vw;
    margin-bottom: 1.6vw;
  }
  .welfareWrap .bigAPP .APPText {
    font-size: 3.33333vw;
  }
  .welfareWrap .bigAPP .downButton {
    top: 4.66667vw;
    right: 5.33333vw;
    width: 16.53333vw;
    height: 7.2vw;
    border-radius: 1.6vw;
    border-width: 0.4vw;
  }
  .welfareWrap .bigAPP .downButton img {
    width: 2.4vw;
    height: 2.93333vw;
    margin: 0 1.33333vw 0 3.33333vw;
  }
  .welfareWrap .bigAPP .downButton p {
    font-size: 3.33333vw;
  }
  .welfareWrap .bigAPP .downloadNum {
    font-size: 3.33333vw;
    right: 5.33333vw;
    top: 15.2vw;
  }
  .welfareWrap .blueLine {
    width: 94.66667vw;
    height: 0.13333vw;
    margin: 3.46667vw auto 4vw;
  }
  .foreverContainer .bestColorWrap {
    margin-top: 25.33333vw;
  }
  .foreverContainer .bestColorWrap .smallTitle {
    padding-bottom: 8vw;
  }
  .foreverContainer .bestColorWrap .addressWrap {
    margin-bottom: 5.73333vw;
  }
  .foreverContainer .bestColorWrap .addressBtn {
    width: 33.46667vw;
    height: 8.66667vw;
    border-radius: 4.33333vw;
    font-size: 4vw;
    margin-right: 3.73333vw;
    margin-bottom: 4vw;
  }
  .foreverContainer .promptWrap {
    padding: 0 8.26667vw;
  }
  .foreverContainer .promptWrap .title {
    font-size: 4vw;
    padding-top: 6vw;
  }
  .foreverContainer .promptWrap ul {
    padding: 0 8.26667vw;
  }
  .foreverContainer .promptWrap p {
    font-size: 2.66667vw;
  }
  .foreverFooter {
    height: 26.13333vw;
  }
  .teamworkContainer .headerRight img {
    width: 3.2vw;
    height: 3.2vw;
  }
  .teamworkContainer .headerRight a {
    font-size: 3.2vw;
    padding: 0 2.8vw 0 1.33333vw;
  }
  .teamworkContainer .announcementWrap {
    height: 20.4vw;
  }
  .teamworkContainer .announcementWrap img {
    width: 87.46667vw;
    height: 14.4vw;
    left: 6.26667vw;
    top: 1.86667vw;
  }
  .teamworkContainer .announcementWrap p {
    top: 9.33333vw;
    left: 25.33333vw;
    font-size: 3.33333vw;
  }
  .teamworkContainer .featuresTitleWrap {
    padding-top: 4vw;
  }
  .teamworkContainer .contactText {
    font-size: 2.66667vw;
    padding: 0 8.26667vw 2.66667vw;
  }
  .teamworkContainer .linkWrap .linkText {
    font-size: 2.66667vw;
    padding: 0 8.26667vw;
  }
}
/*# sourceMappingURL=main.css.map */