////reset css ////
html,
body,
div,
span,
p,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

img {
  width: 100%;
  height: auto;
}

//////////reset 結束 ////

.clearFloat {
  clear: both;
}

body {
  width: 100%;
  background-color: #131744;
}

.hotTag {
  width: 148px;
  height: 56px;
  position: absolute;
  z-index: 1;
  top: -26px;
  left: -13px;
  background: url(../images/brush_hot.png) no-repeat;
  background-size: contain;
}

.newTag {
  width: 148px;
  height: 56px;
  position: absolute;
  z-index: 1;
  top: -26px;
  left: -13px;
  background: url(../images/brush_new.png) no-repeat;
  background-size: contain;
}

.featuresTitleWrap {
  margin-left: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;

  img {
    width: 56px;
    height: 16px;
    margin-right: 15px;
  }

  .featuresTitle {
    font-size: 35px;
    font-weight: 500;
    color: #69d2cb;
  }

  .featuresText {
    font-size: 25px;
    font-weight: 500;
  }
}

.commonAPP {
  width: 210px;
  height: 85px;
  border-radius: 5px;
  background-color: #2f3684;
  display: flex;
  align-items: center;
  margin-right: 25px;
  margin-bottom: 25px;

  img {
    width: 55px;
    height: 55px;
    margin: 0 21px 0 30px;
  }

  p {
    font-size: 19px;
    font-weight: 600;
  }
}

.gapWrap {
  width: 100%;
  height: 20px;
  background-color: #131744;
}

.copyWrap {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
  margin-bottom: 57px;

  img {
    width: 80px;
    height: 80px;
    margin: 0 37px 0 64px;
  }

  .copyTitle {
    font-size: 31px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  .copyText {
    font-size: 26px;
  }

  .copyBtn {
    width: 166px;
    height: 64px;
    border-radius: 14px;
    border-style: solid;
    border-width: 3px;
    border-image-source: linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #02041b, #02041b), linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-size: 30px;
    font-weight: 600;
    line-height: 70px;
    text-align: center;
    position: absolute;
    right: 62px;
    cursor: pointer;
  }
}

.container,
.foreverContainer,
.teamworkContainer {
  width: 750px;
  margin: 0 auto;
  box-sizing: border-box;
  color: #ffffff;
}

.titleWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 219px;
  height: 62px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border: solid 2px #ffffff;
  background-image: linear-gradient(to bottom, #2e3bc4 1%, #1f256b);
  margin: 0 auto;

  img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
  }

  p {
    font-size: 35px;
    font-weight: 500;
  }
}

.smallTitle {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-family: PingFangTC;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  color: #7081f7;
  margin-top: 15px;
}

.colorWrapBack {
  background: url(../images/gradual_bg.png) no-repeat;
  background-position: 0 30px;
}

.fixTop {
  position: fixed;
  top: 0;
  z-index: 2;
}

.fixTopMargin {
  margin-top: 220px;
}

.headerWrap {
  .topHeaderWrap {
    display: flex;
    align-items: center;
    width: 750px;
    height: 89px;
    background-color: #070a2d;

    .topLogo {
      width: 283px;
      object-fit: contain;
      margin-left: 20px;
    }

    .topRight {
      display: flex;
      width: 100%;
      justify-content: flex-end;

      a {
        display: flex;
        align-items: center;
      }

      .editImg {
        width: 24px;
      }

      p {
        font-size: 24px;
        font-weight: 600;
        color: #7081f7;
        margin-left: 10px;
        margin-right: 25px;
      }
    }
  }

  .navWrap {
    height: 95px;
    display: flex;
    position: relative;
    border-bottom: 1px solid #7081f7;
    background-color: #131744;
    margin: 0 20px;

    .leftNav,
    .rightNav {
      position: relative;
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      font-size: 30px;
      font-weight: 600;
    }

    .navBottom {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 355px;
      height: 9px;
      object-fit: contain;
      border-radius: 4.5px;
      background-image: linear-gradient(to left, #3cd8eb 100%, #7081f7 0%);
    }
  }
}

.bubbleWrap {
  margin: 25px 20px 0 20px;
  display: flex;
  flex-wrap: wrap;

  .bubbleTag {
    border-radius: 27.5px;
    border: solid 2px #c6cdff;
    padding: 10px 50px;
    margin-right: 15px;
    margin-bottom: 20px;
  }
}

.bestColorWrap {
  position: relative;
  margin-top: 170px;

  .girlImg {
    position: absolute;
    top: -170px;
    z-index: -1;
  }

  .topWrap {
    display: flex;
    margin-left: 45px;
    margin-top: 47px;

    p {
      font-size: 25px;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
    }
  }

  .bigAPPWrap {
    margin-right: 68px;
  }

  .bigAPPImg {
    background-image: url(../images/logo-nine.png);
    position: relative;
    width: 175px;
    height: 175px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    .outLine {
      background-image: url(../images/rainbow_frame.png);
      position: absolute;
      width: 175px;
      height: 175px;
      background-size: cover;
    }
  }

  .APPWrap {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 46px;
  }

  .smallAPP {
    width: 122px;
    margin-right: 57px;
    margin-bottom: 20px;
    text-align: center;

    img {
      width: 122px;
      height: 122px;
      object-fit: contain;
      border-radius: 15px;
    }

    p {
      margin-top: 12px;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: #b3bcff;
    }
  }

  .smallAPP:nth-child(4n) {
    margin-right: 0;
  }

  .bottomBK {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 280px;
    background-image: linear-gradient(to top, #313ca9, #131744 50%);
    z-index: -1;
  }
}

.hotColorWrap {
  margin-top: 40px;
  position: relative;

  .paintBK {
    position: absolute;
    background: url(../images/paint-color2.png) no-repeat;
    background-position: 114px -25px;
    background-size: contain;
    height: 369px;
    width: 230px;
    right: 0;
  }

  .APPWrap {
    position: relative;
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
  }

  .smallTitle {
    margin-bottom: 26px;
  }

  .bigAPP {
    position: relative;
    display: flex;
    align-items: center;
    width: 680px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to bottom, #0d2277, #090c51);
    margin-bottom: 47px;

    .bigAPPImg {
      width: 100px;
      height: 100px;
      margin: 0 35px 0 45px;
    }

    .APPTitle {
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    .APPText {
      font-size: 25px;
      color: #979797;
    }

    .downButton {
      display: flex;
      align-items: center;
      position: absolute;
      right: 40px;
      width: 124px;
      height: 54px;
      border-radius: 12px;
      border-style: solid;
      border-width: 3px;
      border-image-source: linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
      border-image-slice: 1;
      background-image: linear-gradient(to bottom, #000000, #000000), linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
      background-origin: border-box;
      background-clip: content-box, border-box;

      img {
        width: 18px;
        height: 22px;
        margin: 0 10px 0 25px;
      }

      p {
        font-size: 25px;
      }
    }
  }

  .smallAPP {
    position: relative;
    margin-bottom: 47px;
    margin-right: 40px;
    width: 200px;
    height: 225px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(to top, #090a4d, #0e267e);
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      margin: 36px 0 27px;
    }

    p {
      font-size: 30px;
      font-weight: 500;
      color: #b3bcff;
    }
  }

  .smallAPP:nth-child(n+2) {
    margin-right: 35px;
  }
}

.suggestWrap {
  .featuresWrap {
    background: #070a2d url(../images/paint_color.png) no-repeat;
    background-position: 100% 0;
  }
}

.featuresWrap {
  padding-top: 40px;
  background-color: #070a2d;

  .featuresAPPWrap {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
  }

  .bigAPP {
    width: 204px;
    height: 280px;
    margin-right: 27px;
    margin-bottom: 35px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 4px;
    border-image-source: linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
    border-image-slice: 1;
    background-image: linear-gradient(to bottom, #02041b, #02041b), linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    text-align: center;

    img {
      width: 100px;
      height: 100px;
      margin: 30px 0 20px;
    }

    .APPtitle {
      font-size: 30px;
      font-weight: 500;
      margin-bottom: 20px;
    }

    .APPText {
      font-size: 20px;
      font-weight: 500;
      color: #7081f7;
      padding: 0 23px;
      line-height: 1.5;
    }
  }

  .bigAPP:nth-child(3n) {
    margin-right: 0;
  }
}

.goodWrap,
.TVWrap,
.shockWrap,
.novelWrap {
  padding-top: 40px;
  background-color: #070a2d;

  .commonAPPWrap {
    margin-left: 35px;
    display: flex;
    flex-wrap: wrap;
  }
}

.footerWrap {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.75;
  background: url(../images/footer_bg.png) repeat-x bottom;

  .footer {
    width: 750px;
    padding: 0 33px 196px;
    margin: 0 auto;
    text-align: center;

    .goTop {
      margin: 20px 0;
      width: 276px;
      height: 63px;
    }
  }

  p {
    text-align: left;
  }

  .fixImg {
    width: 680px;
    height: 150px;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.welfareWrap {
  margin-top: 34px;

  .bigAPP {
    position: relative;
    display: flex;
    align-items: center;
    width: 680px;
    height: 180px;
    border-radius: 15px;
    box-shadow: 0 2px 5px 0 rgba(255, 255, 255, 0.1);
    background-image: linear-gradient(to bottom, #0d2277, #090c51);
    margin: 0 auto;

    .bigAPPImg {
      width: 100px;
      height: 100px;
      margin: 0 35px 0 45px;
    }

    .APPTitle {
      font-size: 35px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    .APPText {
      font-size: 25px;
      color: #979797;
    }

    .downButton {
      display: flex;
      align-items: center;
      position: absolute;
      top: 35px;
      right: 40px;
      width: 124px;
      height: 54px;
      border-radius: 12px;
      border-style: solid;
      border-width: 3px;
      border-image-source: linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
      border-image-slice: 1;
      background-image: linear-gradient(to bottom, #000000, #000000), linear-gradient(to left, #3cd8eb 99%, #7081f7 0%);
      background-origin: border-box;
      background-clip: content-box, border-box;

      img {
        width: 18px;
        height: 22px;
        margin: 0 10px 0 25px;
      }

      p {
        font-size: 25px;
      }
    }

    .downloadNum {
      font-size: 25px;
      position: absolute;
      right: 40px;
      top: 114px;
    }
  }

  .blueLine {
    width: 710px;
    height: 1px;
    background-color: #7081f7;
    margin: 26px auto 30px;
  }
}

////foreverPage//////
.foreverContainer {
  .bestColorWrap {
    margin-top: 190px;

    .smallTitle {
      padding-bottom: 60px;
    }

    .addressWrap {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-bottom: 43px;
    }

    .addressBtn {
      width: 251px;
      height: 65px;
      border-radius: 32.5px;
      background-color: #6270ff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
      font-weight: 500;
      margin-right: 28px;
      margin-bottom: 30px;
    }
  }

  .promptWrap {
    background-position: 0 0;
    padding: 0 62px;

    .title {
      font-size: 30px;
      font-weight: 600;
      text-align: center;
      padding-top: 45px;
    }

    ul {
      padding: 0 62px;
    }

    p {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.75;
    }
  }
}

.foreverFooter {
  width: 100%;
  height: 196px;
  background: url(../images/footer_bg.png) repeat-x center;
  background-size: contain;
}

.teamworkContainer {
  .headerWrap {
    position: relative;
  }

  .topHeaderWrap {
    justify-content: space-between;
  }

  .headerRight {
    display: flex;

    img {
      width: 24px;
      height: 24px;
    }

    a {
      color: #7081f7;
      font-size: 24px;
      font-weight: 600;
      padding: 0 21px 0 10px;
    }
  }

  .announcementWrap {
    position: relative;
    height: 153px;

    img {
      width: 656px;
      height: 108px;
      position: absolute;
      left: 47px;
      top: 14px;
    }

    p {
      position: absolute;
      top: 70px;
      left: 190px;
      font-size: 25px;
      font-weight: 500;
      color: #070a2d;
    }
  }

  .colorWrapBack {
    background-position: 0 0;
  }

  .featuresTitleWrap {
    padding-top: 30px;
  }

  .contactText {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.75;
    padding: 0 62px 20px;
  }

  .linkWrap {
    .linkText {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.75;
      padding: 0 62px;
    }
  }
}

/////////////RWD////////////////////
@function vw($px) {
  @return ($px / 750) * 100vw;
}

// width: vw(750);

@media (max-width:768px) {
  .hotTag {
    width: vw(148);
    height: vw(56);
    top: vw(-26);
    left: vw(-13);
  }

  .newTag {
    width: vw(148);
    height: vw(56);
    top: vw(-26);
    left: vw(-13);
  }

  .featuresTitleWrap {
    margin-left: vw(30);
    margin-bottom: vw(30);
    img {
      width: vw(56);
      height: vw(16);
      margin-right: vw(15);
    }
    .featuresTitle {
      font-size: vw(35);
    }
    .featuresText {
      font-size: vw(25);
    }
  }
  .commonAPP {
    width: vw(210);
    height: vw(85);
    border-radius: vw(5);
    margin-right: vw(25);
    margin-bottom: vw(25);

    img {
      width: vw(55);
      height: vw(55);
      margin: 0 vw(32) 0 vw(30);
    }

    p {
      font-size: vw(19);
    }
  }

  .gapWrap {
    height: vw(20);
  }

  .copyWrap {
    height: vw(80);
    margin-bottom: vw(57);

    img {
      width: vw(80);
      height: vw(80);
      margin: 0 vw(37) 0 vw(64);
    }

    .copyTitle {
      font-size: vw(31);
      margin-bottom: vw(10);
    }

    .copyText {
      font-size: vw(26);
    }

    .copyBtn {
      width: vw(166);
      height: vw(64);
      border-radius: vw(14);
      border-width: vw(3);
      font-size: vw(30);
      line-height: vw(70);
      right: vw(62);
    }
  }

  .container,
  .foreverContainer,
  .teamworkContainer {
    width: vw(750);
  }

  .titleWrap {
    width: vw(219);
    height: vw(62);
    border-radius: vw(10);
    box-shadow: 0 vw(2) vw(4) 0 rgba(0, 0, 0, 0.5);
    border: solid vw(2) #ffffff;

    img {
      width: vw(38);
      height: vw(38);
      margin-right: vw(10);
    }

    p {
      font-size: vw(35);
    }
  }

  .smallTitle {
    text-shadow: 0 vw(2) vw(4) rgba(0, 0, 0, 0.5);
    font-size: vw(25);
    margin-top: vw(15);
  }

  .colorWrapBack {
    background-position: 0 vw(30);
  }

  .fixTopMargin {
    margin-top: vw(220);
  }

  .headerWrap {
    .topHeaderWrap {
      width: vw(750);
      height: vw(89);

      .topLogo {
        width: vw(283);
        margin-left: vw(20);
      }

      .topRight {

        .editImg {
          width: vw(24);
        }

        p {
          font-size: vw(24);
          margin-left: vw(10);
          margin-right: vw(25);
        }
      }
    }

    .navWrap {
      height: vw(95);
      border-bottom: vw(1) solid #7081f7;
      margin: 0 vw(20);

      p {
        font-size: vw(30);
      }

      .navBottom {
        width: vw(335);
        height: vw(9);
        border-radius: vw(4.5);
      }
    }
  }

  .bubbleWrap {
    margin: vw(25) vw(20) 0 vw(20);

    .bubbleTag {
      border-radius: vw(27.5);
      border: solid vw(2) #c6cdff;
      padding: vw(10) vw(50);
      margin-right: vw(15);
      margin-bottom: vw(20);
    }
  }

  .bestColorWrap {
    margin-top: vw(170);

    .girlImg {
      top: vw(-170);
    }

    .topWrap {
      margin-left: vw(45);
      margin-top: vw(47);

      p {
        font-size: vw(25);
        margin-top: vw(10);
      }
    }

    .bigAPPWrap {
      margin-right: vw(68);
    }

    .bigAPPImg {
      width: vw(175);
      height: vw(175);

      .outLine {
        width: vw(175);
        height: vw(175);
      }
    }

    .APPWrap {
      margin-top: vw(40);
      margin-left: vw(46);
    }

    .smallAPP {
      width: vw(122);
      margin-right: vw(57);
      margin-bottom: vw(20);

      img {
        width: vw(122);
        height: vw(122);
        border-radius: vw(15);
      }

      p {
        margin-top: vw(12);
        font-size: vw(20);
      }
    }

    

    .bottomBK {
      height: vw(280);
    }
  }

  .hotColorWrap {
    margin-top: vw(40);

    .paintBK {
      background-position: vw(114) vw(-25);
      height: vw(469);
      width: vw(230);
    }

    .APPWrap {
      margin-left: vw(35);
    }

    .smallTitle {
      margin-bottom: vw(26);
    }

    .bigAPP {
      width: vw(680);
      height: vw(180);
      border-radius: vw(15);
      box-shadow: 0 vw(2) vw(5) 0 rgba(255, 255, 255, 0.1);
      margin-bottom: vw(47);

      .bigAPPImg {
        width: vw(100);
        height: vw(100);
        margin: 0 vw(35) 0 vw(45);
      }

      .APPTitle {
        font-size: vw(35);
        margin-bottom: vw(12);
      }

      .APPText {
        font-size: vw(25);
      }

      .downButton {
        right: vw(40);
        width: vw(125);
        height: vw(54);
        border-radius: vw(12);
        border-width: vw(3);

        img {
          width: vw(18);
          height: vw(22);
          margin: 0 vw(10) 0 vw(25);
        }

        p {
          font-size: vw(25);
        }
      }
    }

    .smallAPP {
      margin-bottom: vw(47);
      margin-right: vw(40);
      width: vw(200);
      height: vw(224);
      border-radius: vw(15);
      box-shadow: 0 vw(2) vw(5) 0 rgba(0, 0, 0, 0.1);

      img {
        width: vw(100);
        height: vw(100);
        margin: vw(36) 0 vw(27);
      }

      p {
        font-size: vw(30);
      }
    }

    .smallAPP:nth-child(n+2) {
      margin-right: vw(35);
    }
  }


  .featuresWrap {
    padding-top: vw(40);

    .featuresAPPWrap {
      margin-left: vw(30);
    }

    .bigAPP {
      width: vw(204);
      height: vw(280);
      margin-right: vw(27);
      margin-bottom: vw(35);
      border-radius: vw(15);
      box-shadow: 0 vw(2) vw(5) 0 rgba(0, 0, 0, 0.1);
      border-width: vw(4);
      img {
        width: vw(100);
        height: vw(100);
        margin: vw(30) 0 vw(20);
      }

      .APPtitle {
        font-size: vw(30);
        margin-bottom: vw(20);
      }

      .APPText {
        font-size: vw(20);
        padding: 0 vw(23);
      }
    }

  }

  .goodWrap,
  .TVWrap,
  .shockWrap,
  .novelWrap {
    padding-top: vw(40);

    .commonAPPWrap {
      margin-left: vw(35);
    }
  }

  .footerWrap {
    font-size: vw(20);
    
    .footer {
      width: vw(750);
      padding: 0 vw(33) vw(196);

      .goTop {
        margin: vw(20) 0;
        width: vw(276);
        height: vw(63);
      }
    }

    .fixImg {
      width: vw(680);
      height: vw(150);
      bottom: vw(30);
    }
  }

  .welfareWrap {
    margin-top: vw(34);

    .bigAPP {
      width: vw(680);
      height: vw(180);
      border-radius: vw(15);
      box-shadow: 0 vw(2) vw(5) 0 rgba(255, 255, 255, 0.1);

      .bigAPPImg {
        width: vw(100);
        height: vw(100);
        margin: 0 vw(35) 0 vw(45);
      }

      .APPTitle {
        font-size: vw(35);
        margin-bottom: vw(12);
      }

      .APPText {
        font-size: vw(25);
      }

      .downButton {
        top: vw(35);
        right: vw(40);
        width: vw(124);
        height: vw(54);
        border-radius: vw(12);
        border-width: vw(3);

        img {
          width: vw(18);
          height: vw(22);
          margin: 0 vw(10) 0 vw(25);
        }

        p {
          font-size: vw(25);
        }
      }

      .downloadNum {
        font-size: vw(25);
        right: vw(40);
        top: vw(114);
      }
    }

    .blueLine {
      width: vw(710);
      height: vw(1);
      margin: vw(26) auto vw(30);
    }
  }

  ////foreverPage//////
  .foreverContainer {
    .bestColorWrap {
      margin-top: vw(190);

      .smallTitle {
        padding-bottom: vw(60);
      }

      .addressWrap {
        margin-bottom: vw(43);
      }

      .addressBtn {
        width: vw(251);
        height: vw(65);
        border-radius: vw(32.5);
        font-size: vw(30);
        margin-right: vw(28);
        margin-bottom: vw(30);
      }
    }

    .promptWrap {
      padding: 0 vw(62);

      .title {
        font-size: vw(30);
        padding-top: vw(45);
      }

      ul {
        padding: 0 vw(62);
      }

      p {
        font-size: vw(20);
      }
    }
  }

  .foreverFooter {
    height: vw(196);
  }

  .teamworkContainer {
    .headerRight {

      img {
        width: vw(24);
        height: vw(24);
      }

      a {
        font-size: vw(24);
        padding: 0 vw(21) 0 vw(10);
      }
    }

    .announcementWrap {
      height: vw(153);

      img {
        width: vw(656);
        height: vw(108);
        left: vw(47);
        top: vw(14);
      }

      p {
        top: vw(70);
        left: vw(190);
        font-size: vw(25);
      }
    }

    .featuresTitleWrap {
      padding-top: vw(30);
    }

    .contactText {
      font-size: vw(20);
      padding: 0 vw(62) vw(20);
    }

    .linkWrap {
      .linkText {
        font-size: vw(20);
        padding: 0 vw(62);
      }
    }
  }
}